

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
nav a{
    font-family: Montserrat;
   font-weight: normal;
    margin: 10px;
}
nav ul{
    margin-left: 5%;
}
nav img{
    margin-left: 5%;
}
nav{
    background-color: white;
 scroll-behavior: fixed;
}
.bg-image{

   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
 height: 60vh;


}
 .bg-image h1{
    text-align: center;
    padding-top: 5%;
    color: white;
}
.bg-image p{
    text-align: center;
    padding-top: 2%;
    color: white;
}
body{
 background-color: #FFFF;
}
#btn{
    border: 2px solid white;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
   
}
.tr1{
   width: 128px; 
   height: 5px;
   background-color: #28C2A0;
   margin-top: 5%;
}

#container h1{
    font-family: Montserrat;
    font-weight: bold;
    margin-top: 7%;
    font-size: 18px;
}
#container p{
    font-family: Ubuntu;
    margin-top: 7%;
    margin-left: 2%;

}
#btn1{
    border: 2px solid black;
    color: black;
    margin-left: 20%;
    margin-top: 5%;
}
#container{
    margin-top: 3%;
    background-color: #F2F2F2;
}
.card{
    margin: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    
}
.card img{
    margin-top:5% ;

}
.card h1{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
}
.card p{
    font-family: Ubuntu;
    font-size: 14px;
}
.container1{
    margin-top: 3%;
    margin-left: 5%;
   
}
.parg2{
    text-align: center;
    font-family:Montserrat;
    font-size: 28px;
    font-weight: bolder;
}
.container1 p{
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    text-align: center;
}
.annonces{
    width: 1132px;
    height:594px;
    margin-top: 3%;
    border: 1px solid rgba(0, 0, 0, 0.027);
    margin-right: 20%;
    border-radius: 30px;
}
.header{
    background-color: #28C2A0;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header h1{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bolder;
    color: white;
}
.header p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bolder;
    color: white;
}
.number4{
    background-color: #28C2A0;
    border-radius: 0px 0px 30px 30px ;
    margin-top: 2%;
    padding: 20px;
}
.number1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
    background-color:rgba(0, 0, 0, 0.062) ;
}
.number1 h1{
    font-family: Montserrat;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 5%;
}
.number1 p{
    font-family: Montserrat;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 5%;
}
.number2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
}
.number2 h1{
    font-family: Montserrat;
    font-size:28px;
    font-weight: bolder;
    margin-left: 5%;
}
.number2 p{
    font-family: Montserrat;
    font-size: 16px;
    
    margin-left: 5%;
}
.number3{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.number3 h1{
font-family: Ubuntu;
font-size: 18px;
font-weight: bold;
}
.number3 p{
    font-family:Montserrat;
    font-size: 18px;
    font-weight: lighter;
    }
 .lycée1 h1{
font-family: Ubuntu;
font-size: 18px;
 font-weight: bold;
 margin-top: 5%;
        }
 .lycée p{
 font-family:Montserrat;
 font-size: 15px;
font-weight: lighter;
    }
.tr2{
  height:200px;  
  border: 1px solid rgba(0, 0, 0, 0.068);
}
.number4 p{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.partie1{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;

}
.scrol1{
    margin-top: 20%;
    margin-right: 5%;
    margin-left: 5%;
    
  
}
.annonce{
   text-align: center;
   font-size: 28px;
   font-family: Montserrat;
   font-weight: bolder;
}
.témoignage{
    text-align: center;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: bolder;
    margin-top: 3%; 
}
.temoin{
   margin-left: 5%;
    display: flex;
    width: 570px;
   
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.Group1{
    display: flex;
    margin-top: -20%;
    margin-left: 5%;
}
.Group1 img{
    width: 125px;
    height: 24px;
}
.temoin img{
    width: 170px;
    height: 200px;
}
.descrip{
    margin-top: -20%;
    margin-left: 5%;
}
.descrip h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5%;
}
.descrip p{
    font-family: Ubuntu;
    font-size: 14px;
}
.images{
    margin-top: 2%;
    margin-left: 2%;
}
.parti2{
    display: flex;
    margin-left: 8%;
    margin-top: 3%;
    background-color: #F2F2F2;
    padding: 40px;
    margin-right: 10%;
}
footer{
    margin-top: 3%;
    background-color: #28C2A0;
    padding: 40px;
}
.footer{
   display: flex;
   
  margin-left: 10%;
  justify-content: space-between;
  margin-right: 10%;
}
#bnt6{
    background-color: blue;
    color: white;
}
#btn5{
    background-color: #F2F2F2;
}
.link{
    display: flex;
    margin-top: 3%;
    
}
.link p{
    margin: 5px;
    color: #F2F2F2;
}
.tr4{
    width: 1100px;
    border: 1px solid rgb(241, 236, 236);
    margin-left: 8%;
}
.footer h1{
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: bold;
}
.footer p{
    font-size: 14px;
    font-family: Ubuntu;
   
}
.sl{
   margin-right: 10%;
}
.link1{
    text-decoration: none;
    color: black;
}
.link2{
    text-decoration: none;
    color: #FFFF;
}
/* formulaire d'inscription */
